        *{
    		box-sizing: border-box;
    		font-family: verdana, sans-serif;
    	}
    	body{
    		background: linear-gradient(to right, #ff0100, #feff01);
    	}
    	html{
    		scroll-behavior: smooth;
    	}
    	.main{ 
    		width: 50%;
    		margin: auto;
    		background-color: whitesmoke;
    		padding: 20px;
            height: 510px;
    		border-radius: 5px;
    	}
    	.input-ctl input{
    		width: 100%;
    		padding: 10px;
    		font-size: 15px;
    	}

    	input[type="submit"]{
    		width: 49%;
    		background-color: dodgerblue;
    		padding: 10px;
    		font-size: 15px;
    		color: #fff;
    		border: none;
    	}
    	input[type="reset"]{
    		background-color: #4caf50;
    		width: 49%;
    		border: none;
    		color: #fff;
    		font-size: 15px;
    		padding: 10px;
    	}
        .input-ctl.success input{
            border-color: #0000fe;
        }
        .input-ctl.error input {
            border-color: #fe0000;
        }
        .input-ctl input:focus{
            outline: 0;
        }
        input-ctl.error {
        color: #fe0000;
        }

    	@media only screen and (max-width: 600px){
    		.main{
    			width: 90%;
    		}
    	}